<div class="col-md-4">
    <div class="card">
        <img class="card-img-top" src="{{this.image_url}}" alt="{{this.name}}" />
        <div class="card-body">
            <h3 class="card-title">
                {{this.name}}
            </h3>
            <p class="card-text">
                {{this.description}}
            </p>
            <h5>
                <div class="row">
                    <div class="col-md-6">
                    <p>Pusblished by {{this.publisher}}</p>
                    </div>
                    <div>
                    <p>Required skills{this.skillRequired}</p>
                    </div>
                    <div>
                    <p>Saving {this.moneySaved}</p>
                    </div>
                    <div>
                    <p>Status {this.status}</p>
                    </div>
                </div>
            </h5>
        </div>
    </div>
</div>

{{!-- 
1. Project Name.
2. Project name: string, required
3. Project requirements: array of strings, required
4. Project description: text field, required
5. Money saved: numbers / required.
6. Non-profit: object relationship. 
7. Status: Open/close.

Update
- edit the project
- update status --}}

