<h1>User</h1>

<form action="/user/{{this._id}}" method="post">
  <input type="text" name="name" value={{this.name}}>
  <input type="text" name="email" value={{this.email}}>
  <input type="text" name="profession" value={{this.profession}}>
  <input type="text" name="skill" value={{this.skill}}>
  <input type="text" name="skill" value={{this.description}}>
  <button type="submit">Update information</button>
</form>