<section>
<div class="container">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="card-deck mx-auto w-30">
      <div class="card">
      <div>
      <img src="{{this.imageUrl}}"  class="card-img-top" alt="default-profile">
      </div>
        <div class="card-body">
          <h2>Volunteer Details</h2>
          <p><b>Name:</b> {{name}}</p>
          <p><b>Email:</b> {{email}}</p>
          <p><b>Skill:</b>{{skills}}</p>
          <p><b>Profession:</b> {{profession}}</p>
          <p><b>Description</b> {{description}}</p>
        </div>
        <div class="card-footer">
          <div>
            <button>
              <a href="/volunteers">See all Volunteers</a>
            </button>
            <button>
                    <a href = "mailto: {{email}}">Send Email</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <br>
  <br>

</section>