<section>
  <h2>Project Details</h2>

  <p><b>Title:</b> {{name}}</p>
  <p><b>Publisher:</b> {{publisher.name}}</p>
  <p><b>Money Saved:</b> {{moneySaved}}</p>
  <p><b>Skill Required:</b></p>
  {{#if skillRequired}}
  <ul>
    {{#each skillRequired}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
  {{/if}}

  <p><b>Description:</b> {{description}}</p>


  
  <hr>
  <a href="/projects">See all Projects</a>
  <a href="/">Home</a>
</section>